<!-- da inserire tutto il template per la tabella principale -->
<div class="tableContainer">
  <p-dataTable [value]="routes" scrollable="true" scrollHeight="100%">
    <p-column field="id" [style]="{'width':'70px'}" header="ID" [sortable]="true"></p-column>
    <p-column field="data" [style]="{'width':'100px'}" header="DATA" [sortable]="true">
      <ng-template let-itinerario="rowData" pTemplate="body">
        <span>{{itinerario.data | date:'dd-MM-y'}}</span>
      </ng-template>
    </p-column>
    <p-column field="durata" [style]="{'width':'120px'}" header="DURATA" [sortable]="true">
      <ng-template let-itinerario="rowData" pTemplate="body">
        <span>{{itinerario.durata | time}}</span>
      </ng-template>
    </p-column>
    <p-column field="lunghezza" [style]="{'width':'130px'}" header="LUNGHEZZA" [sortable]="true">
      <ng-template let-itinerario="rowData" pTemplate="body">
        <span>{{itinerario.lunghezza}} <span>km</span></span>
      </ng-template>
    </p-column>
    <p-column field="dislivello" [style]="{'width':'130px'}" header="DISLIVELLO" [sortable]="true">
      <ng-template let-itinerario="rowData" pTemplate="body">
        <span>{{itinerario.dislivello}} <span>m</span></span>
      </ng-template></p-column>
    <p-column field="difficolta" [style]="{'width':'130px'}" header="DIFFICOLTA" [sortable]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
              <p-multiSelect [options]="difficulties" defaultLabel="Difficoltà" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
          </ng-template>
    </p-column>
    <p-column field="luogo" [style]="{'width':'150px'}" header="LUOGO" [sortable]="true"></p-column>
    <p-column field="descrizione" header="DESCRIZIONE"></p-column>
  </p-dataTable>
</div>
