<p-dialog header="Login" [draggable]="false" modal="modal" [responsive]="true" [(visible)]="displayModal" (onHide)="closeModal()">

  <form #f="ngForm" novalidate>

    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" required name="username" [(ngModel)]="user.username" minlength="5" autofocus="autofocus" #username="ngModel" tabindex="1">
    <small [hidden]="modalType == MODALTYPEENUM.LOGIN || (username.valid || (username.pristine && !f.submitted))">
     L'username deve essere almeno di 5 caratteri
   </small>

    <label>Password</label>
    <input type="password" class="form-control" id="password" required name="password" [(ngModel)]="user.password" minlength="8" autocapitalize="off" autocorrect="off" #password="ngModel" tabindex="2">
    <small [hidden]="modalType == MODALTYPEENUM.LOGIN || (password.valid || (password.pristine && !f.submitted))">
      La password deve essere di almeno 8 caratteri
    </small>

    <div *ngIf="modalType == MODALTYPEENUM.REGISTRATION">
      <label for="passwordConfirm">Conferma password</label>
      <small [hidden]="!(user.passwordConfirm != '' && user.password != '' && user.passwordConfirm != user.password)">
      Le password non corrispondono
    </small>
      <input class="form-control" id="passwordConfirm" required name="passwordConfirm" [(ngModel)]="user.passwordConfirm" minlength="8" autocapitalize="off" autocorrect="off" tabindex="3" type="password">
    </div>

    <small *ngIf="erroreCorrente != ''">
      {{erroreCorrente}}
    </small>
  </form>
  <p-footer>
    <button *ngIf="modalType == MODALTYPEENUM.REGISTRATION" type="button" pButton icon="fa-sign-in" (click)="signUp(user)" label="Registrati" tabindex="4"></button>
    <button *ngIf="modalType == MODALTYPEENUM.LOGIN" type="button" pButton icon="fa-sign-in" (click)="signIn(user)" label="Accedi" tabindex="4"></button>
    <button type="button" pButton icon="fa-close" (click)="closeModal()" label="Annulla" tabindex="5"></button>
  </p-footer>
</p-dialog>
