* {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 36px;
}

app-main>.ui-widget-header {
  overflow: hidden;
}

app-main>.ui-widget-header>div {
  display: inline-block;
}

.tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-body,
.tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-table-wrapper{
  min-width: 1000px;
  height: calc(100vh - 260px) !important;
  max-height: calc(100vh - 200px) !important;
}

app-main>.ui-widget-header div.toolbar, app-main>.ui-widget-header div.toolbar div {
  float: right;
}

app-main>.ui-widget-header div.toolbar p-dropdown label{
  text-align: center;
}

p-datatable tbody {
  border: 0 !important;
}

p-datatable th {
  height: 35px;
  text-align: center;
  border: 0 !important;
}

p-datatable .ui-widget-header, p-datatable th {
  overflow: visible !important;
}

p-datatable td {
  height: 25px;
  text-align: center;
  border: 0 !important;
}

p-datatable tr {
  border-left: 0 !important;
  border-right: 0 !important;
}

p-datatable thead {
  border-bottom: 1px solid #d4d4d4;
}

p-header {
  font-size: 18px;
  font-weight: bold;
}

.ui-datatable th.ui-state-active {
  background: gray !important;
}

app-header {
  display: block;
  height: 75px;
  border-bottom: 1px solid #eee;
}

div.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

app-header .title {
  display: table-row;
  height: 50px;
}

app-header .title>h1 {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

app-header .caption {
  font-size: 16px;
  font-style: italic;
}

app-header .login {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

app-header .login {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

app-main {
  flex: 2;
  padding-top: 10px;
}

login-modal label, .bookmarkFilterModal label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

login-modal input, .bookmarkFilterModal input {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

login-modal small, .bookmarkFilterModal small {
  color: red;
}

login-modal .ui-dialog-footer, .bookmarkFilterModal .ui-dialog-footer {
  text-align: right;
}

login-modal p-footer button:first-child, .bookmarkFilterModal p-footer button:first-child {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  color: #fff !important;
}

login-modal p-footer button:first-child:hover, .bookmarkFilterModal p-footer button:first-child:hover {
  background-color: #4cae4c !important;
  border-color: #5cb85c !important;
  color: #fff !important;
}

body {
  height: 100vh;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin: 0;
}

i.fa.fa-close:hover {
  opacity: 0.5;
}

route-detail {
  display: flex;
  flex-direction: row;
  height: auto;
}

route-detail aside {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  border-right: 1px solid lightgray;
  float: left;
}

route-detail aside button {
  text-align: left !important;
  display: block !important;
}

route-detail aside button:not(:first-child) {
  margin-top: 15px;
}

route-detail section {
  float: left;
  text-align: center;
  flex: 1 1 auto;
}

route-detail section .title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

route-detail section .date {
  padding-top: 5px;
}

route-detail section .info {
  float: left;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

route-detail section .tailInfo {
  margin-left: 15px;
  max-width: 300px;
}

route-detail section .info div {
  padding-bottom: 15px;
}

route-detail section .headInfo span:first-child {
  width: 130px;
  display: inline-block;
}

route-detail section .tailInfo span:first-child {
  width: 80px;
  display: inline-block;
}

.ui-button {
  background-color: #fff !important;
  border-color: #ccc !important;
  color: #373a3c !important;
}

.ui-button:hover:not([disabled]) {
  background-color: #f2f2f2 !important;
  border-color: #ccc !important;
  color: #373a3c !important;
}

.w0 {
  width: 0px !important;
  min-width: 0px !important;
}

.w5 {
  width: 20px !important;
  min-width: 20px !important;
}

.w10 {
  width: 40px !important;
  min-width: 40px !important;
}

.w15 {
  width: 60px !important;
  min-width: 60px !important;
}

.w18 {
  width: 72px !important;
  min-width: 72px !important;
}

.w20 {
  width: 80px !important;
  min-width: 80px !important;
}

.w25 {
  width: 100px !important;
  min-width: 100px !important;
}

.w30 {
  width: 120px !important;
  min-width: 120px !important;
}

.w35 {
  width: 140px !important;
  min-width: 140px !important;
}

.w40 {
  width: 160px !important;
  min-width: 160px !important;
}

.w45 {
  width: 180px !important;
  min-width: 180px !important;
}

.w50 {
  width: 200px !important;
  min-width: 200px !important;
}

.w100 {
  width: 400px !important;
  max-width: 400px !important;
  min-width: 400px !important;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none !important;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
}
