@media (max-width: 35em) {
  .ui-datatable-reflow .ui-datatable-data td {
    height: 100% !important;
    min-width: 20em !important;
    width: 100vw !important;
    overflow: visible !important;
    padding-right: 30px !important
  }
  .ui-datatable-scrollable-body {
    width: calc(100% + 10px);
  }
  app-header {
    min-height: 90px;
  }
  .ui-widget-content {
    border: none !important;
  }
  .ui-datatable-data>tr.ui-widget-content>td:first-child {
    border-top: 1px solid lightgray !important;
    margin-top: 10px;
    padding-top: 5px;
  }
  .ui-datatable-data>tr:first-child>td:first-child {
    border-top: none !important;
  }
  .tr.ui-expanded-row-content>td {
    padding-top: 10px;
  }
  .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-body, .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-table-wrapper {
    height: calc(100vh) !important;
  }
  route-detail section .tailInfo {
    margin-left: 0 !important;
  }
  .fa-filter {
    visibility: visible;
  }
}

@media (min-width: 35em) and (max-width: 50em) {
  .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-body, .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-table-wrapper {
    height: calc(100vh - 245px) !important;
  }
}
@media (max-width:50em) {
  .filterTemplate, th p-slider, th p-multiselect {
    display: none;
  }
}

@media (min-width: 50em) {
  .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-body, .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-table-wrapper {
    height: calc(100vh - 270px) !important;
  }
  .fa-filter {
    visibility: hidden;
  }
}

.tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-body, .tableContainer p-datatable .ui-datatable .ui-datatable-scrollable-table-wrapper {
  max-height: calc(100vh - 200px) !important;
  overflow-x: hidden;
}

* {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 36px;
}

app-main>.ui-widget-header>div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
  width: 100vw !important;
}

app-main>.ui-widget-header div.toolbar, app-main>.ui-widget-header div.toolbar div {
  float: right;
}

app-main>.ui-widget-header div.toolbar p-dropdown label {
  text-align: center;
}

p-datatable tbody {
  border: 0 !important;
}

p-datatable th {
  height: 35px;
  text-align: center;
  border: 0 !important;
}

p-datatable .ui-widget-header {
  overflow: visible !important;
}

p-datatable td {
  height: 25px;
  text-align: center;
  border: 0 !important;
}

p-datatable tr {
  border-left: 0 !important;
  border-right: 0 !important;
}

p-datatable tr td:first-child {
  overflow: visible !important;
}

p-datatable thead {
  border-bottom: 1px solid #d4d4d4;
}

p-header {
  font-size: 18px;
  font-weight: bold;
}

.ui-datatable th.ui-state-active {
  background: gray !important;
}

app-header {
  display: block;
  min-height: 75px;
  border-bottom: 1px solid #eee;
}

div.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

app-header .title {
  display: table-row;
  height: 50px;
}

app-header .title>h1 {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

app-header .caption {
  font-size: 16px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-header .login {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

app-header .login {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

app-main {
  flex: 2;
  padding-top: 10px;
}

login-modal label, .bookmarkFilterModal label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

login-modal input, .bookmarkFilterModal input {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

login-modal small, .bookmarkFilterModal small {
  color: red;
}

login-modal .ui-dialog-footer, .bookmarkFilterModal .ui-dialog-footer, p-dialog.filterSelector .ui-dialog-footer {
  text-align: right;
}

login-modal p-footer button:first-child, .bookmarkFilterModal p-footer button:first-child, p-dialog.filterSelector .ui-dialog-footer button:first-child {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  color: #fff !important;
}

login-modal p-footer button:first-child:hover, .bookmarkFilterModal p-footer button:first-child:hover, p-dialog.filterSelector .ui-dialog-footer button:first-child:hover {
  background-color: #4cae4c !important;
  border-color: #5cb85c !important;
  color: #fff !important;
}

body {
  height: 100vh;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

i.fa.fa-close:hover {
  opacity: 0.5;
}

route-detail {
  display: flex;
  flex-direction: row;
  height: auto;
}

route-detail aside {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  border-right: 1px solid lightgray;
  float: left;
}

route-detail aside button {
  text-align: left !important;
  display: block !important;
}

route-detail aside button:not(:first-child) {
  margin-top: 15px;
}

route-detail section {
  float: left;
  text-align: center;
  flex: 1 1 auto;
}

route-detail section .title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

route-detail section .date {
  padding-top: 5px;
}

route-detail section .info {
  float: left;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

route-detail section .tailInfo {
  margin-left: 15px;
  max-width: 300px;
}

route-detail section .info div {
  padding-bottom: 15px;
}

route-detail section .headInfo span:first-child {
  width: 130px;
  display: inline-block;
}

route-detail section .tailInfo span:first-child {
  width: 80px;
  display: inline-block;
}

.ui-button {
  background-color: #fff !important;
  border-color: #ccc !important;
  color: #373a3c !important;
}

.ui-button:hover:not([disabled]) {
  background-color: #f2f2f2 !important;
  border-color: #ccc !important;
  color: #373a3c !important;
}

.w30 {
  width: 120px !important;
  min-width: 120px !important;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none !important;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
}

.fa-search {
  float: left;
  display: block;
  margin-right: 4px;
}

.fa-filter {
  font-size: 18px !important;
  color: gray;
  float: right;
  vertical-align: middle;
  padding-left: 5px;
}

input.searchItineario {
  max-width: 360px;
  width: calc(100% - 45px) !important;
}

.ui-widget-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 0 none;
  text-align: left
}

p-dialog.filterSelector .ui-dialog-content {
  margin-left: auto;
  margin-right: auto;
}

p-dialog.filterSelector .ui-dialog-content>div {
  padding-left: 30px;
  padding-right: 30px;
}

p-dialog.filterSelector .ui-dialog-content>div>div {
  width: 100%;
}

p-dialog.filterSelector .ui-dialog-content>div h3 {
  margin-bottom: 5px;
  margin-top: 10px !important;
}

th .ui-column-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

th {
  overflow: visible !important;
}

.filterTemplate {
  white-space: nowrap;
}
