<aside>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="goToSite(routeSelezionato)" icon="fa-external-link" iconPos="left" label="Vai al sito"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="saveBookmark(routeSelezionato)" icon="{{routeDetail != null && routeDetail.saved ? 'fa-star' : 'fa-star-o'}}" iconPos="left" label="Salva nei preferiti"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="downloadMap(routeSelezionato)" icon="fa-map-o" iconPos="left" label="Download mappa"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="downloadTrack(routeSelezionato)" icon="fa-arrows" iconPos="left" label="Download traccia"></button>
</aside>
