<aside>
  <button pButton type="button" class="ui-button-secondary" (click)="goToSite(routeDetail)" icon="fa-external-link" iconPos="left" label="Vai al sito"></button>
  <button pButton type="button" class="ui-button-secondary" [disabled]="sessionService.getSession() == null" (click)="saveBookmark(routeDetail)" icon="{{isBookmarked(routeDetail) ? 'fa-star' : 'fa-star-o'}}" iconPos="left" label="Salva nei preferiti"></button>
  <button pButton type="button" class="ui-button-secondary" (click)="downloadMap(routeDetail)" icon="fa-map-o" iconPos="left" label="Download mappa"></button>
  <button pButton type="button" class="ui-button-secondary" [disabled]="routeDetail == null || (routeDetail != null && routeDetail.trackUrl == null)"(click)="downloadTrack(routeDetail)" icon="fa-arrows" iconPos="left" label="Download traccia"></button>
</aside>
<section *ngIf="routeDetail != null">
  <div class="title">{{routeDetail.titolo}}</div>
  <div class="date">{{routeDetail.data | date:'d LLLL yyyy' | capitalize:true}}</div>
  <div class="info headInfo">
    <div><span>Luogo itinerario:</span>&nbsp;<span class="bold">{{routeDetail.luogo}}</span></div>
    <div><span>Durata percorso:</span>&nbsp;<span class="bold">{{routeDetail.durata | time}}</span></div>
    <div><span>Lunghezza percorso:</span>&nbsp;<span class="bold">{{routeDetail.lunghezza}}&nbsp;Km</span></div>
    <div><span>Dislivello cumulato:</span>&nbsp;<span class="bold">{{routeDetail.dislivello}}&nbsp;m</span></div>
  </div>
  <div class="info tailInfo">
    <div>
      <span>Difficolta:</span>&nbsp;<span class="bold">{{routeDetail.difficolta}}</span>
    </div>
    <div>
      <span>Descrizione:</span>&nbsp;<span>{{routeDetail.titolo}}</span>
    </div>
  </div>
</section>
