<aside>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="goToSite()" icon="fa-external-link" iconPos="left" label="Vai al sito"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="saveBookmark()" icon="fa-star-o" iconPos="left" label="Salva nei preferiti"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="download()" icon="fa-map-o" iconPos="left" label="Download mappa"></button>
  <button pButton type="button" class="w40 ui-button-secondary" (click)="download()" icon="fa-arrows" iconPos="left" label="Download traccia"></button>
</aside>
